0 0 * * * /bin/sh -c 'echo "[$(date)] Clearing access tokens" >> /var/log/cron_cleartokens.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py cleartokens | sed "s/^/[$(date)] /" >> /var/log/cron_cleartokens.log 2>&1'