{% extends "email/base.html" %} {% load static %} {% block main %}
<div
  style="
    background: #ffffff;
    background-color: #ffffff;
    margin: 0px auto;
    max-width: 600px;
  "
>
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    style="background: #f5f5f5; background-color: #f5f5f5; width: 100%"
  >
    <tbody>
      <tr>
        <td
          style="
            border-left: 1px solid #dbd8df;
            border-right: 1px solid #dbd8df;
            direction: ltr;
            font-size: 0px;
            padding: 25px;
            text-align: center;
            vertical-align: top;
          "
        >
          <!-- Logo Section -->
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            style="vertical-align: top"
            width="100%"
          >
            <tbody>
              <tr>
                <td
                  align="right"
                  style="
                    font-size: 0px;
                    padding: 10px 10px 10px 25px;
                    word-break: break-word;
                  "
                >
                  <a
                    href="https://openbadges.education"
                    target="_blank"
                    style="display: inline-block"
                  >
                    <img
                      src="{% static '/images/Logo-Oeb.png' %}"
                      alt="Logo"
                      style="
                        width: auto;
                        height: 60px;
                        max-height: 60px;
                        display: block;
                        outline: none;
                        text-decoration: none;
                        border: 0;
                      "
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Header Section -->
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            style="width: 100%; margin-bottom: 25px"
          >
            <tbody>
              <tr>
                <td
                  align="center"
                  style="font-size: 0px; word-break: break-word"
                >
                  <div
                    style="
                      font-family: Rubik, Arial, sans-serif;
                      font-size: 24px;
                      font-weight: 500;
                      line-height: 130%;
                      text-align: left;
                      color: #323232;
                      width: 520px;
                      margin: auto;
                    "
                  >
                    <span style="font-weight: 900">
                      Herzlichen Glückwunsch
                    </span>
                    {% if name %}
                    <br />
                    <span> {{ name }}, </span>
                    {% else %} , {% endif %}
                    <br />
                    <span
                      >du hast einen
                      <span style="font-weight: 800">
                        {%if badge_category == "learningpath" %} MICRO DEGREE {%
                        else %} BADGE {% endif %}
                      </span>
                      erhalten!</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Badge Info Section -->
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            style="
              width: 520px;
              background-color: #ffffff;
              border-radius: 10px;
              margin: auto;
            "
          >
            <tbody>
              <tr>
                <td style="padding: 0">
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="
                      width: 100%;
                      background-color: #ffffff;
                      border-radius: 10px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td align="left" width="175" style="padding: 20px">
                          <a
                            href="{{ badge_instance_url }}"
                            target="_blank"
                            style="text-decoration: none; display: inline-block"
                          >
                            <img
                              alt="Badge Image"
                              src="{{ image_url }}"
                              style="
                                border: 0;
                                display: block;
                                outline: none;
                                text-decoration: none;
                                height: auto;
                                width: 175px;
                              "
                            />
                          </a>
                        </td>
                        <td
                          align="left"
                          style="
                            padding: 20px 20px 20px 0;
                            vertical-align: middle;
                          "
                        >
                          <span
                            style="
                              font-family: Rubik, Arial, sans-serif;
                              font-size: 18px;
                              font-weight: 400;
                              line-height: 120%;
                              color: #323232;
                              font-style: italic;
                              display: block;
                            "
                          >
                            Vergeben von:
                          </span>
                          <div
                            style="
                              font-family: Rubik, Arial, sans-serif;
                              font-size: 16px;
                              font-weight: 600;
                              line-height: 24px;
                              color: #323232;
                              margin-top: 5px;
                            "
                          >
                            <a
                              href="{{ issuer_detail }}"
                              style="
                                color: #323232;
                                font-weight: 600;
                                font-size: 18px;
                                text-decoration: none;
                                font-style: italic;
                              "
                            >
                              {{ issuer_name }}
                            </a>
                          </div>
                          {% if issuer_image_url %}
                          <img
                            alt="Issuer Logo"
                            src="{{ issuer_image_url }}"
                            style="
                              border: 0;
                              display: block;
                              outline: none;
                              text-decoration: none;
                              width: 80px;
                              height: auto;
                              margin-top: 10px;
                            "
                          />
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              {% if badge_category != "learningpath" %}

              <tr>
                <td style="padding: 0 25px 0px 25px">
                  <div
                    style="
                      font-family: Rubik, Arial, sans-serif;
                      font-size: 18px;
                      font-weight: 400;
                      line-height: 130%;
                      text-align: left;
                      color: #323232;
                    "
                  >
                    <p style="margin: 0 0 15px 0">
                      Du hast erfolgreich an dem Lernangebot
                      <span style="font-weight: 600">{{ badge_name }}</span>
                      teilgenommen.
                    </p>
                  </div>
                </td>
              </tr>

              {% endif %}

              <!-- Competencies Section -->
              {% if badge_competencies %}
              <tr>
                <td style="padding: 0 25px">
                  <p
                    style="
                      font-family: Rubik, Arial, sans-serif;
                      font-weight: 400;
                      font-size: 18px;
                      line-height: 120%;
                      color: #323232;
                      text-align: left;
                      margin: 0 0 15px 0;
                    "
                  >
                    Dabei hast du folgende
                    <span style="font-weight: 600">Kompetenzen</span> gestärkt:
                  </p>
                </td>
              </tr>

              {% for item in badge_competencies %}
              <tr>
                <td style="padding: 0 25px 16px 25px">
                  <div
                    style="
                      border-radius: 10px;
                      border: 1px solid #492e98;
                      background-color: #f5f5f5;
                    "
                  >
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                    >
                      <tr>
                        <td
                          align="left"
                          style="padding: 16px; vertical-align: middle"
                        >
                          <span
                            style="
                              font-family: Rubik, Arial, sans-serif;
                              font-size: 14px;
                              font-weight: 500;
                              line-height: 15.6px;
                              color: #323232;
                              display: block;
                            "
                          >
                            {{ item.name }} {% if item.framework == "esco" %}
                            <a
                              href="{{ item.framework_identifier }}"
                              style="color: #1400ff"
                            >
                              [E]
                            </a>
                            {% endif %}
                          </span>
                        </td>
                        <td
                          align="right"
                          style="
                            padding: 16px;
                            text-align: right;
                            vertical-align: middle;
                            width: 100px;
                          "
                        >
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            style="margin-left: auto"
                          >
                            <tr>
                              <td
                                align="right"
                                style="width: 14px; vertical-align: middle"
                              >
                                <img
                                  src="{% static '/images/clock-icon.png' %}"
                                  alt="Clock"
                                  width="14"
                                  style="
                                    display: inline-block;
                                    vertical-align: middle;
                                    border: 0;
                                  "
                                />
                              </td>
                              <td
                                align="right"
                                style="
                                  padding-left: 5px;
                                  vertical-align: middle;
                                "
                              >
                                <span
                                  style="
                                    font-family: Rubik, Arial, sans-serif;
                                    font-size: 11px;
                                    font-weight: 300;
                                    line-height: 15px;
                                    color: #492e98;
                                    display: inline-block;
                                    vertical-align: middle;
                                  "
                                >
                                  {{item.studyLoad}}
                                </span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>

          {% if badge_category == "learningpath" %}
          <tr>
            <td
              align="left"
              style="
                border-left: 1px solid #dbd8df;
                border-right: 1px solid #dbd8df;
                direction: ltr;
                padding-left: 25px;
                padding-bottom: 10px;
              "
            >
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="padding-left: 16px">
                    <div>
                      <a
                        href="{{ activate_url }}"
                        target="_blank"
                        style="
                          background: #492e98;
                          color: #ffffff;
                          font-family: Rubik, Arial, sans-serif;
                          font-size: 16px;
                          font-weight: 600;
                          line-height: 120%;
                          margin: 0;
                          text-decoration: none;
                          text-transform: none;
                          display: inline-block;
                          padding: 15px 40px;
                          border-radius: 10px;
                        "
                      >
                        {{ call_to_action_label }}
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="left" style="padding: 16px">
                    <p
                      style="
                        font-family: Rubik, Arial, sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                        text-align: left;
                        color: #323232;
                        margin: 0;
                        font-style: italic;
                        width: 520px;
                      "
                    >
                      Im Anhang dieser Mail findest du neben der
                      <span style="font-weight: 600"> Micro-Degree-Datei </span>
                      ein <span style="font-weight: 600">PDF-Zertifikat</span>,
                      <span>das deinen Lernerfolg ebenfalls ausweist</span>.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% else %}
          <tr>
            <td
              align="center"
              style="
                border-left: 1px solid #dbd8df;
                border-right: 1px solid #dbd8df;
              "
            >
              <p
                style="
                  font-family: Rubik, Arial, sans-serif;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 130%;
                  text-align: left;
                  color: #492e98;
                  margin: 0;
                  width: 520px;
                "
              >
                Im Anhang dieser Mail findest du deine
                <span style="font-weight: 600"> Badge-Datei </span> und das
                zugehörige
                <span style="font-weight: 600">PDF-Zertifikat</span>
                <span>zum Herunterladen</span>.
              </p>
            </td>
          </tr>

          <tr>
            <td
              align="center"
              style="
                padding: 25px;
                padding-top: 35px;
                border-left: 1px solid #dbd8df;
                border-right: 1px solid #dbd8df;
              "
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                style="
                  background-color: #ccd7ff;
                  border-radius: 10px;
                  width: 520px;
                "
              >
                <tr>
                  <td style="padding: 16px">
                    <p
                      style="
                        font-family: Rubik, Arial, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20.8px;
                        text-align: left;
                        color: #323232;
                        margin: 0 0 15px 0;
                      "
                    >
                      Alle deine erhaltenen Badges kannst du auf
                      <a
                        href="https://openbadges.education/recipient/badges"
                        target="_blank"
                        style="color: #1400ff; text-decoration: underline"
                      >
                        Open Educational Badges</a
                      >
                      in deinem Rucksack sammeln und mit anderen teilen. Lege
                      dafür einfach kostenlos einen Account an:
                    </p>
                    <div style="text-align: center">
                      <a
                        href="{{ activate_url }}"
                        target="_blank"
                        style="
                          background: #492e98;
                          color: #ffffff;
                          font-family: Rubik, Arial, sans-serif;
                          font-size: 16px;
                          font-weight: 600;
                          line-height: 120%;
                          margin: 0;
                          text-decoration: none;
                          text-transform: none;
                          display: block;
                          padding: 15px 40px;
                          border-radius: 10px;
                        "
                      >
                        {{ call_to_action_label }}
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- FAQ Section -->
  {% if oeb_info_block %}
  <div style="background: #f5f5f5; margin: 0px auto; max-width: 600px">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="background: #ecfeed; width: 100%"
    >
      <tbody>
        <tr>
          <td style="border: 1px solid #dbd8df; padding: 12px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td style="vertical-align: top">
                    <div
                      style="
                        font-family: Rubik, Arial, sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 21.6px;
                        padding: 10px 10px;
                        color: #492e98;
                      "
                    >
                      Du hast Fragen? <br />
                      <span style="font-weight: 800">Wir haben Antworten!</span>
                    </div>
                    <div
                      style="
                        font-family: Rubik, Arial, sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 16.9px;
                        padding: 0 10px;
                        color: #323232;
                      "
                    >
                      <span
                        style="
                          font-weight: 700;
                          line-height: 15.6px;
                          display: block;
                          margin-top: 15px;
                        "
                      >
                        Was ist eigentlich ein Badge?
                      </span>
                      <p style="margin-top: 5px; margin-bottom: 15px">
                        Ein Badge ist ein digitales Zertifikat, das deine
                        Fähigkeiten und Stärken feiert. Du kannst Badges sammeln
                        und mit anderen teilen.
                      </p>

                      <span
                        style="
                          font-weight: 700;
                          line-height: 15.6px;
                          display: block;
                        "
                      >
                        Warum ist es toll, einen Badge zu bekommen?
                      </span>
                      <p style="margin-top: 5px; margin-bottom: 15px">
                        Badges zeigen dir selbst und anderen, was du erreicht
                        hast und helfen dir, selbstbewusst in deine Zukunft zu
                        gehen.
                      </p>

                      <span
                        style="
                          font-weight: 700;
                          line-height: 15.6px;
                          display: block;
                        "
                      >
                        Wo kann ich meine Badges sammeln?
                      </span>
                      <p style="margin-top: 5px; margin-bottom: 15px">
                        Auf unserer Plattform kannst du ganz einfach einen
                        Account anlegen und alle deine Badges in deinem Rucksack
                        sammeln – egal, wo du sie erhalten hast. Lege jetzt los
                        auf
                        <a
                          href="https://openbadges.education/signup"
                          style="color: blue; text-decoration: underline"
                        >
                          https://openbadges.education/signup </a
                        >.
                      </p>

                      <span
                        style="
                          font-weight: 700;
                          line-height: 15.6px;
                          display: block;
                        "
                      >
                        Was sind Open Educational Badges?
                      </span>
                      <p style="margin-top: 5px; margin-bottom: 15px">
                        OEB sind ein Tool, das Lernerfahrungen und
                        Kompetenzerwerb standardisiert sichtbar macht. Wir
                        setzen OEB als Gemeinschaftsprojekt mit
                        unterschiedlichen Partner:innen und Förderer:innen um.
                        Weitere Infos findest du unter
                        <a
                          href="https://openbadges.education/public/about"
                          style="color: blue; text-decoration: underline"
                        >
                          https://openbadges.education/public/about
                        </a>
                      </p>

                      <span
                        style="
                          font-weight: 700;
                          line-height: 15.6px;
                          display: block;
                        "
                      >
                        Du willst noch mehr über Badges erfahren?
                      </span>
                      <p style="margin-top: 5px; margin-bottom: 0">
                        Dann schau hier vorbei:
                        <a
                          href="https://openbadges.education"
                          style="color: blue; text-decoration: underline"
                        >
                          https://openbadges.education
                        </a>
                      </p>
                    </div>
                  </td>
                  <td style="width: 75px; vertical-align: top">
                    <a
                      href="https://www.meinbildungsraum.de/"
                      target="_blank"
                      style="display: block"
                    >
                      <img
                        src="{% static '/images/logo-square.png' %}"
                        alt="Logo"
                        style="width: 75px; height: auto; border: 0"
                      />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock main %}
