{% load static %}
<div style="background:#FFFFFF;background-color:#FFFFFF;Margin:0px auto;max-width:600px;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F5F5F5;background-color:#F5F5F5;width:100%;position: relative;">
    <tbody>
      <tr>
        <td style="border-left:1px solid #DBD8DF;border-right:1px solid #DBD8DF; border-top:1px solid #DBD8DF;direction:ltr;font-size:0px;padding:0px 12px;padding-top:25px;text-align:center;vertical-align:top;">
        
          <!-- Logo -->
          <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;position: relative; z-index:1;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">        
              <tbody class="position: relative">
                <tr>
                  <td rowspan="2" align="left" style="font-size:0px;padding:10px 10px 10px 25px;word-break:break-word;float: right;">
                    <a href="https://openbadges.education" target="_blank">
                      <img src="{% static '/images/Logo-Oeb.png' %}" align="left" style="width: auto; height: 70px;">
                    </a>
                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </td>
      </tr>

      <!-- Email heading -->
      <tr>
        <td style="border-left:1px solid #DBD8DF;border-right:1px solid #DBD8DF; font-size:0px;padding:15px 20px;word-break:break-word;">
          <table cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
            <tbody>
              <tr>
                <td style="font-size:0px;padding:15px 25px;word-break:break-word;">
                  <div style="font-weight: 900; font-size:22px;font-family: Rubik; line-height:26px;text-align:left;color:#000000; text-transform: uppercase;">
                    QR-Code-Anfrage für deinen Badge
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <!-- Email content -->
      <tr>
        <td style="border-left:1px solid #DBD8DF;border-right:1px solid #DBD8DF;  font-size:0px;padding:10px 25px;word-break:break-word;">
          <table cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
            <tbody>
              <tr>
                <td style="font-size:0px;padding:0px 25px;word-break:break-word;">
                  <div style="font-weight: 500; font-size:18px;line-height:26px;text-align:left;color:#492e98;">
                    Dein Badge <span style="font-weight: 900;"> {{badgeclass}} </span> wurde von {{ email }} per QR-Code angefragt.</b>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <!-- Confirm request -->
      <tr>
        <td style="border-left:1px solid #DBD8DF;border-right:1px solid #DBD8DF; font-size:0px;padding:10px 24px;word-break:break-word;">
          <table cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
            <tbody>
              <tr>
                <td style="font-size:0px;padding:0px 24px;word-break:break-word;">
                  <div style="font-weight: 400; font-size:18px;line-height:26px;text-align:left;color:#323232;">
                    Bitte bestätige die Anfrage auf Open Educational Badges über den folgenden Button:</b>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <!-- button -->
      <tr>
        <td
          style="
            border-left:1px solid #DBD8DF;
            border-right:1px solid #DBD8DF; 
            border-bottom:1px solid #DBD8DF;
            vertical-align: top;
            padding: 5px 25px;
            padding-bottom: 80px;
          "
        >
          <table
            cellpadding="0"
            cellspacing="0"
            role="presentation"
            width="100%"
          >
            <tbody>
              <tr>
                <td
                  vertical-align="middle"
                  style="
                    font-size: 0px;
                    padding: 10px 25px;
                    padding-bottom: 8px;
                    word-break: break-word;
                    display: flex;"
                >
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="
                      border-collapse: separate;
                      line-height: 100%;
                      border-radius: 10px;
                      overflow: hidden;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          role="presentation"
                          style="
                            border: none;
                            cursor: auto;
                            background: #492e98;
                          "
                          valign="middle"
                        >
                          <a
                            href="{{ activate_url }}"
                            style="
                              background: #492e98;
                              color: #ffffff;
                              font-size: 19px;
                              line-height: 120%;
                              margin: 0;
                              text-decoration: none;
                              text-transform: none;
                              display: block;
                              border-radius: 10px;
                              padding: 18px 75px;
                            "
                            target="_blank"
                          >
                            Anfrage bestätigen    
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>